.idea/
.vscode/

build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json

target/

client/assets/logs/*
!client/assets/logs/.gitkeep
client/assets/save/*
!client/assets/save/.gitkeep
save.json

*.temp
*.tmp
*.swp
*~
